<!DOCTYPE html>
<html lang="en">
 <%- include('partials/head')%>
  <body>
    <%- include('partials/themebuttons')%>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('partials/nav')%>
<main class="content px-3">
        <p class="lead">You have a special query? </p>
        <p class="lead">
          <a href="#contact" class="btn btn-lg btn-light fw-bold border-white bg-white">Contact us</a>
        </p>
      </main>
  </body>

</html>